<section class="scroll-mt-60 bg-black" id="how">
  <div class="px-8 md:px-12 py-96 max-w-2xl mx-auto">
    <div class="bg-black">
      <a href=""
        ><p class="text-sm text-white mt-8 text-center leading-loose">
          HIGH FLIGHT...
        </p></a
      >

      <p class="text-sm text-white mt-8 text-center leading-loose">
        Oh! I have slipped the surly bonds of Earth <br />And danced the skies
        on laughter-silvered wings; <br />Sunward I've climbed, and joined the
        tumbling mirth <br />of sun-split clouds,—and done a hundred things <br
        /> You have not dreamed of—wheeled and soared and swung <br />High in
        the sunlit silence. Hov'ring there,<br /> I've chased the shouting wind along,
        and flung <br /> My eager craft through footless halls of air ....
      </p>

      <p class="text-sm text-white mt-8 text-center leading-loose">
        Up, up the long, delirious, burning blue <br />I've topped the
        wind-swept heights with easy grace <br /> Where never lark, or even eagle
        flew— <br /> And, while with silent lifting mind I've trod <br />The
        high untrespassed sanctity of space,<br /> Put out my hand, and touched the
        face of God.
      </p>
<br>

      <p class="text-xs text-bllck mt-8 text-center leading-loose">
        Notes: This poem is in the public domain. Copyright Credit: Magee, John
        Gillespie. "Letter to Parents," September 3, 1941. John Magee Papers,
        Library of Congress, Washington, D.C. Manuscript. In Respectfully
        Quoted: A Dictionary of Quotations Requested from the Congressional
        Research Service, ed. Suzy Platt (Washington, D.C.: Library of Congress,
        1989): 117-18.
      </p>
    </div>
  </div>
</section>
