<section class="scroll-mt-60 bg-black" id="how">
  <div class="px-8 md:px-12 py-96 max-w-2xl mx-auto">
    <div class="bg-black">
      <a href="/test"><p class="text-sm text-white mt-8 text-center leading-loose">
        KEEP GOING.
      </p></a>
    </div>
  </div>
</section>
