<section class="scroll-mt-12" id="how">
  <div class="px-8 md:px-12 py-60 max-w-2xl mx-auto">
    <div>
      <!-- <h2 class="text-2xl tracking-tighter font-light lg:text-4xl text-white">
        Silence
      </h2> -->
    </div>
    <div>
      <p class="text-sm text-white mt-8">
        We think we are creating the system for our own purposes.
        <br />
        We believe we are making it in our own image...
        <br />
        But the computer is not really like us.
        <br />
        It is a projection of a very slim part of ourselves:

        <br /><br />
        that portion devoted to logic, order, rule, and clarity.
        <br />
        <br />
        <br />
        - Ellen Ullman, Close to the Machine: Technophilia and Its Discontents
      </p>
    </div>
  </div>
</section>
