---
import imagesData from "../../data/images3.json";

// Extraer src y link de cada imagen
const images = imagesData.map(item => ({ src: item.src, link: item.link }));
---

<div class="gallery">
  {images.map(({ src, link }, index) => (
    
      <img src={src} alt="Gallery Image" />
    
  ))}
</div>

<style>
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Máximo 3 imágenes por fila */
    gap: 10px;
  }

  .gallery a {
    display: block; /* Para que toda el área del enlace sea clickeable */
  }

  .gallery img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }

  .gallery img:hover {
    transform: scale(1.2);
  }

  /* Hacerlo responsive */
  @media (max-width: 768px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr); /* 2 imágenes por fila en pantallas medianas */
    }
  }

  @media (max-width: 480px) {
    .gallery {
      grid-template-columns: repeat(1, 1fr); /* 1 imagen por fila en móviles */
    }
  }
</style>
