<section class="overflow-hidden relative">
  <svg class="lg:-mx-4 relative" viewBox="0 0 1340 241" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.2973453 241V0.19H76.3291L141.007 190.297923ZM292.922 0.17719H347.967V241H292.922V0.17719ZM359.678 241V.17719H433.989L534.446 203.156H551.648V199.716C531.35 161.528 521.029 130.91 521.029 98.2265V0.17719H574.01.25 241H1116.8342C1041.49 47.3097 1041.14 59.0068 1037.7 68.6397L1012.9366.1Z" fill="whitebone"/>
</svg>

  <div class="px-8 md:px-12 py-20 max-w-2xl mx-auto relative">
    <div>
      </h2>
    </div>
    <ul
      class="grid grid-cols-1 text-base text-zinc-500 lg:grid-cols-2 max-w-xl gap-2 group h-full mt-12"
    >
      <em class="py-40 col-span-full text-sm mt-8 text-white">
        <a href="/lost"><p class="text-3xl text-red-950">
          Embrace fire, fear and whatever you need. <span class="block text-white"></span>
        </p></a>
      </em>
    </ul>
  </div>
</section>

