<section class="scroll-mt-12" id="how">
  <div class="px-8 md:px-12 py-60 max-w-2xl mx-auto">
    <div>
      <h2 class="text-2xl tracking-tighter font-light lg:text-4xl text-white">
        Silence
      </h2>
    </div>
    <div>
      <p class="text-sm text-white mt-8">
        "One does not need to go looking for silence.
        <br />
        You are just realizing that everything comes as silence
        <br />
        Everything is swimming in silence.
        <br />
        All the sound is moving in silence.

        <br /><br />
        That is the sound of reality and the mind that is thinking can never know
        how silence operates
        <br />
        Everything you see when you're looking at the stars,
        <br />
        looking for guidance, it was not created or found in rubble.
        <br />
        Silence did it."
      </p>
      <a href="/21062025"><p class="text-sm text-white mt-8">...</p></a>
    </div>
  </div>
</section>
