---
import NavigationB from "@/components/global/NavigationB.astro";
import DevBuild from "@/components/landing/DevBuild.astro";
import BaseLayoutB from "@/layouts/BaseLayoutB.astro";
---

<BaseLayoutB>
  <DevBuild />
  
  <NavigationB/>

<a href="/hom"
  ><button
    style="background-color: white; color: black; padding: 2px 2px; border: 2px solid black; cursor: pointer; font-size: 16px;"
  >
    ENTER THE VOID
  </button></a
>
</BaseLayoutB>
