---
import Gallery5 from "@/components/landing/Gallery5.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <Gallery5 />
  <iframe
    width="0%"
    height="166"
    scrolling="no"
    frameborder="no"
    allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/13285945&color=%238c94a4&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
  ></iframe><div
    style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
  >
    <a
      href="https://soundcloud.com/cosmomedia"
      title="Cosmo Media"
      target="_blank"
      style="color: #cccccc; text-decoration: none;"></a
    > · <a
      href="https://soundcloud.com/cosmomedia/crackling-fire-mp3"
      title="Crackling Fire (Sounds of Nature)"
      target="_blank"
      style="color: #cccccc; text-decoration: none;"
      ></a>
  </div>
</BaseLayout>
