<footer class="overflow-hidden">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div class="flex flex-col gap-4">
      <!-- <div>
        <h2 class="text-white text-base lg:text-xl">Other projects</h2>
        <ul
          role="list"
          class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase"
        >
          <li>
            <a href="https://blukstudio.com" class="hover:text-white">
              BlukStudio.com</a
            >
          </li>
        </ul>
      </div> -->

      <div>
        <h2 class="text-white text-base lg:text-xl">RRSS</h2>
        <ul
          role="list"
          class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase"
        >
          <li>
            <a href="https://twitter.com/brinfmed"  target="_blank" class="hover:text-white">
              @brinfmed
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <nav class="flex flex-col lg:flex-row gap-8">
      <p class="text-xs text-zinc-600">
        © 2025 brutalismoinformatico. All rights reserved
      </p>
    </nav>
    <section class="gap-x-8 gap-y-6 mt-6">
      <div>
        <p class="text-xs text-zinc-500 lg:col-span-2">
          brutalismoinformatico (BRINF) is a non-profit (onemanband: <a
            href="/noisyman"
            class="text-xs text-red-900 hover:text-red-400">Noisyman</a
          >) project with the sole purpose of creating and sharing the artistic
          content featured on this website. I do not claim authorship of any of
          the audio or images used—full credit goes to their respective
          creators. If you have any questions or feedback, feel free to reach
          out to me at <a href="https://gmail.com" class="text-red-900">brutalismoinformatico@gmail.com</a>.
        </p>
        <br />
        <p>"RAGE.RAVE.RAISE"</p>
      </div>
    </section>
  </div>
  <svg
    class="lg:-mx-4 relative"
    viewBox="0 0 1340 241"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0.2973453 241V0.19H76.3291L141.007 190.297923ZM292.922 0.8 241V.17719H433.989L534.446 203.156H551.648V199.716C531.35 161.528 521.029 130.91 521.029 98.2265V0.17719H574.01.25 241H1116.8342C1041.49 47.3097 1041.14 59.0068 1037.7 68.6397L1012.9366.1Z"
      fill="white"></path>
  </svg>
</footer>
