<div class="fixed top-4 inset-x-0 z-50">
  <div class="max-w-2xl mx-auto px-8">
    <div class="w-full mx-auto">
      <div
        x-data="{ open: false }"
        class="relative flex flex-col w-full p-2 mx-auto bg-white ring-1 uppercase ring-zinc-200 backdrop-blur-xl backdrop-filter rounded-xl md:rounded-full md:items-center md:justify-between md:flex-row"
      >
        <div
          class="flex flex-row items-center justify-between md:justify-start"
        >
          <a
            class="text-zinc-950 hover:text-black/50 gap-4 items-center tracking-tighter inline-flex font-bold ml-2 text-xl"
            href="/"
            title="linke to main page"
          >
            [ BRINF ]
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
