<div class="fixed top-4 inset-x-0 z-50">
  <div class="max-w-2xl mx-auto px-8">
    <div class="w-full mx-auto">
      <div
        x-data="{ open: false }"
        class="relative flex flex-col w-full p-2 mx-auto bg-transparent ring-0 backdrop-blur-xl backdrop-filter rounded-xl md:rounded-full md:items-center md:justify-between md:flex-row"
      >
        <!-- Izquierda: Logo y botón móvil -->
        <div class="flex flex-row items-center justify-between md:justify-start">
          <a
            class="text-white hover:text-white/70 gap-4 items-center tracking-tighter inline-flex font-bold ml-2 text-xl"
            href="/"
            title="linke to main page"
          >
            [ BRINF ]
          </a>
          <button
            @click="open = !open"
            class="inline-flex items-center justify-center p-2 text-white hover:text-cyan-300 focus:outline-none md:hidden"
          >
            <svg class="w-6 h-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path
                :class="{'hidden': open, 'inline-flex': !open }"
                class="inline-flex"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              ></path>
              <path
                :class="{'hidden': !open, 'inline-flex': open }"
                class="hidden"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              ></path>
            </svg>
          </button>
        </div>

        <!-- Derecha: Enlaces -->
        <nav
          :class="{'flex': open, 'hidden': !open}"
          class="flex-col flex-grow hidden py-12 md:py-0 md:flex md:items-end justify-center md:flex-row"
        >
          <ul
            class="space-y-2 list-none text-xs text-white md:space-y-0 md:ml-auto items-center md:inline-flex justify-center text-center md:text-left gap-3"
          >
            <li>
              <a href="/silence" class="hover:text-red-700 shrink-0">0.618&deg;</a>
            </li>
            <!-- <li>
              <a href="/art" class="hover:text-red-700 shrink-0">art&deg;</a>
            </li> -->
              <a href="/test" class="hover:text-red-700 shrink-0">2.54&deg;</a>
            </li>
            <li>
              <a
                href="/hom"
                class="py-2 w-auto px-4 border-2 h-8 focus:ring-2 rounded-full border-transparent text-white duration-200 focus:ring-offset-2 hover:text-cyan-200 inline-flex items-center justify-center ring-2 focus:ring-transparent ring-transparent"
              >
                hom&deg;
              </a>
            </li>
            <li>
              <a href="/X9A7B3QF1L6N8R2T5V4Y0C7M2P8H1K5D" class="hover:text-red-700 shrink-0">&deg;</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
